body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #FF3399;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

button {
    background-color: #001529;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #01101f;
}